<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <script src="index.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="appVue">
        INTRODUCE TAREA :
        <input type="text" v-model="tarea">

        <button v-on:click="añade">Añade tarea</button>

        <ol>
            <li v-for="t in tareas">
                {{t}}
                <br>
                {{ new Date()}}
                <hr>
            </li>
        </ol>

        <div>tienes: {{total}} tareas en total</div>
        

        
      </div>
</body>
</html>