body{
    background-color: rgb(125, 187, 125);
    margin-top: 5%;
}

#appVue{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    padding: 0px;
    margin: 0px;
    
}

#cuadradito{
    position: inherit;
    align-self: center;
    border-radius: 10px;
    margin: 0%;
    padding: 0%;
    align-content:space-between;
    margin-right: 30px;
}

#cuadrado{
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
    
}

.verdecito{
    margin: 1 auto;
    padding:0;
    color:rgb(15, 226, 15);
    background-color: rgb(193, 236, 150);
}

.rojito{
    margin: 1 auto;
    padding:0;
    color:rgb(185, 38, 28);
    background-color: rgb(240, 161, 161);
}

#añade{
    background-color: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
}

#completar{
    background-color: green;
    font-weight: bold;
    border-radius: 10px;
}

#borrar{
    background-color: red;
    font-weight: bold;
    border-radius: 10px;

}

#contador{
    background-color: rgb(92, 138, 135);
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;

}